.section1 {
  padding-top: 9vw;
}
.section1_Title_beanie {
  width: 98vw;
  height: 20vh;
  object-fit: cover;
}
h2 {
  color: #372821;
}


.section1_h2 { 
  font-size: 2vw;
  margin-top: 5vh;
  margin-left: 10vw;
  position: absolute;
  font-weight: 900;
  font-family: Gotham Pro;
}
.section1_p {
  margin-top: 6vh;
  margin-left: 23vw;
  position: absolute;
  font-size: 1.6vw;
  color: #232323;
  font-weight: 400;
}
.slide {
  position: relative;
  width: 80%;
  /* overflow: hidden; */
  margin: 2% 5% 0 15%;
}
.btn-back{
   background: none; 
    border: none; 
    padding: 0; 
    cursor: pointer; 
    font-size: 1.5vw; 
    color: #a06144a3;   
    margin-bottom: 1%;
    
}
.btn-back:hover{
  color: #c86839;
}
.btn-back:active{
  color: #934d2a;
}
.Product {
  object-fit: fill;
  width: 100%;
  height: 100%;
  border: 0.2vw solid transparent;
  border-image: radial-gradient(#c0ada4a3 80%, #a06144a3 40%);
  border-image-slice: 1;
  pointer-events:none;
}
.Card { 
  width: 40%;
  height: 33vw;
 margin: 0% 0%  3%  2% ;
 font-size: 1.2vw;
 color: #372821d8;
}
.Card:hover {
  cursor: pointer;
  color: #c86839;
  .Product{  
    border-image: radial-gradient(#b38570 80%, #7b4126 40%);
    border-image-slice: 1;
  }
}
.section2 {
    width: 33%;
    margin: 0% 2% 0% 5%;
    font-size: 1.5vw;
    color: #372821d8;
    object-fit: cover;
}
.section3{
    width: 23vw;
    height: 11vw;
    float: right;
    box-shadow: 2px 2px 4px rgba(101, 76, 14, 0.364);
    border-radius: 5px;
    padding: 2vw 2vw 0vw 5vw;
    object-fit: cover;
}
.section3_1{
  position: absolute;
}
p{
    margin-top: 5%;
    font-size: 1.2vw;
}
.price{
    font-size: 2vw;
    
}
.heart{
    cursor: pointer;
    font-size: 2vw;
    /* padding: 1vw 3vw 1vw 3vw; */
    margin: 0vw 0vw 1vw 2vw;
    
    /* position: absolute; */
}
.btn_basket {
  
  /* position: absolute; */
  font-size: 90%;
  width: 10vw;
  color: #372821d8;
  border: 0.1vw solid #372821d8;
  background: #FFFFFF;
  cursor: pointer;
  padding: 0.5vw 0.5vw 0.5vw 0.5vw;
  margin: 15% 0% 5% 0%;
  transition: background .6s;
}
.btn_basket:hover {
  background: #deddd8;
  /* border: 0.15vw solid #372821d8; */
  color: #7b5442d8;

}
.btn_basket:active {
  background: #c5c4be;
  color: #b77252e9;
}
.basket{
    margin: 1% 1% 1% 1%;
}
#star-rating span {
    color: #ccc; /* цвет невыбранных звезд */
    transition: color 0.2s;
}
#star-rating span.hover,
#star-rating span.selected {
    color: #ffcc00; /* цвет выбранных звезд */
}