.section1 {
  padding-top: 9vw;
}
.section1_Title_beanie {
  width: 98vw;
  height: 20vh;
  object-fit: cover;
}
h2 {
  color: #372821;
}
.section1_h2 { 
  font-size: 2vw;
  margin-top: 5vh;
  margin-left: 10vw;
  position: absolute;
  font-weight: 900;
  font-family: Gotham Pro;
}
.section1_p {
  margin-top: 6vh;
  margin-left: 23vw;
  position: absolute;
  font-size: 1.6vw;
  color: #232323;
  font-weight: 400;
}
.section2_h2 { 
  margin-left: 3vw;
  font-size: 1.5vw;
  font-family: Montserrat;
  letter-spacing: 1vw;
}
.line {
  background: #372821;
  width: 0.1vw;
  height: 3vw;
  flex-shrink: 0;
  margin-bottom: 1vw;
  margin-top: 1vw;
  /* position: absolute; */
}
.line1{ 
  margin-left: 3.5vw;
}
.line2{
  /* margin-top: 28vw; */
  margin-right: 60vw;
  width: 7vw;
  height: 0.1vw;
}
.slide-group {
  display: flex;
  gap: 15px; /* между карточками внутри группы */
  /* Можно задать ширину, чтобы было удобно */
}
.slider {
  position: relative;
  width: 86%;
  overflow: hidden;
  margin-left: 6%;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
  gap: 10px; /* между группами */
  flex-direction: column;
}

.slide {
  min-width: 25%; /* Для трех слайдов */
  box-sizing: border-box;
  /* background: #ddd; */
  text-align: center;
}
.Product {
  object-fit: fill;
  width: 100%;
  height: 100%;
  border: 0.2vw solid transparent;
  border-image: radial-gradient(#c0ada4a3 80%, #a06144a3 40%);
  border-image-slice: 1;
  pointer-events:none;
}
.Card { 
  width: 13vw;
  height: 16vw;
 margin: 10% 25%  10%  2% ;
 font-size: 1.2vw;
 color: #372821d8;
}
.Card:hover {
  cursor: pointer;
  color: #c86839;
  .Product{  
    border-image: radial-gradient(#b38570 80%, #7b4126 40%);
    border-image-slice: 1;
  }
  
}

.heart {
  position: absolute;
  cursor: pointer;
  font-size: 1.5vw;
  margin-left: 35%;
  margin-top: 15%;
}
.btn_basket {
  width: 100%;
  height: 11%;
  /* float: left; */
  font-size: 90%;
  color: #372821d8;
  border: 0.1vw solid #372821d8;
  background: #FFFFFF;
  cursor: pointer;
  /* margin-bottom: 3vw; */
  margin-top: 5%;
  transition: background .6s;
}

.btn_basket:hover {
  background: #deddd8;
  border: 0.15vw solid #372821d8;
  color: #7b5442d8;
  .basket{
    display: none;
  }
  .shop{
    background: #deddd800;
    border: 0.5vw solid #deddd800;
    margin-top: 0vw;
    margin-left: 40%;
    font-size: 1.5vw;
    transition: margin .6s, font-size .6s;
    /* transition: .4s ease-in-out; */
  }

}
.btn_basket:active {
  background: #c5c4be;
  color: #b77252e9;
}
.shop{
  margin-left: 10%;
  margin-top: 4%;
  background: #FFFFFF;
  border: 0.5vw solid #FFFFFF;
  border-radius: 2vw;
  font-size: 100%;
  transition: margin .6s, font-size .6s;
}
.basket {
  position: absolute;
  margin-left: 35%;
  padding-top: 3%;
}

.btn {
  position: absolute;
  top: 40%;
  /* transform: translateY(-50%); */
  background: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
}
.arrow {
  width: 2vw;
  height: 2vw;
  border-top: 0.2vw solid #372821;
  border-right: 0.2vw solid #372821;
}
.prev {
  left: 1%;
  transform: rotate(-135deg);
}
.next {
  right: 1%;
  transform: rotate(45deg);
}
.disabled {
  opacity: 0.2;
  pointer-events: none;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1vw;
  font-size: 1.5vw;
}
.top-pagination{
  /* margin-left: 50vw; */
  justify-content: right;
}
.page-number {
  margin: 0 0.7vw;
  cursor: pointer;
  color: #afa29c;
}
.page-number.active {
  font-weight: bold;
  text-decoration: underline;
  color: #372821d8;
}


@media (max-width:1199px) and (min-width:200px){
  /* .section1{
    padding-top: 10vw;
  } */
  .section1_Title_beanie {
      height: 15vh;
     
  }
  .section1_h2 {
      font-size: 5vw;
      padding-top: 3vw;
      
  }
  .section1_p {
      font-size: 5vw;
      margin-left: 42vw;
      padding-top: 2vw;
  }
  .section2_h2 {
    font-size: 5vw;
  }

  .line1 {
    width: 0.2vw;
    height: 6vw;
    margin-left: 5vw;
  }
  .line2 {
    width: 12vw;
    height: 0.2vw;
    margin-right: 0;
  }
  .pagination {
    font-size: 5vw;
  }
  .slider {
    position: relative;
    width: 92%;
    overflow: hidden;
    margin-left: 2%;
  }
  .slides {
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .slide {
    min-width: 48%; /* Для двух слайдов */
  }
  .Card { 
    width: 35vw;
    height: 50vw;
    /* margin: 2vw 2vw 1vw 6vw; */
    font-size: 4vw;
    margin-left: 4%;
  }
  .heart {
    font-size: 5vw;
  }
  .btn_basket {
    font-size: 80%;
  }
  .shop{
    font-size: 3vw;
    margin-top: 12%;
  }
  .basket {
    margin-left: 30%;
  }
  .btn_basket:hover {
    .shop{
      font-size: 4vw;
    }
  }
  .arrow {
    width: 5vw;
    height: 5vw;
    border-top: 0.3vw solid #372821;
    border-right: 0.3vw solid #372821;
  }
}