h1 {
    font-size: 3vw;
    padding-top: 10%;
    padding-left: 10%;
    color: #372821;
    letter-spacing: 0.7vw;
}
h2 {
    font-size: 1.7vw;
}
p{
    font-size: 1.5vw;
    display: flex;
    margin-top: 1vw;
}
/* .global_section{
    padding-top: 19vw;
} */
.section{
    color: #372821;
    margin: 3vw 10vw 1vw 10vw;   
    text-align: center
    /* display:flex; */   
}
.section2 {
    margin-left: 7vw;
    width: 30vw;
}
.section1{
    margin-bottom: 10vw;
}
.section3{
    margin-bottom: 15vw;
}
.user{
    font-size: 12vw; 
}
.button {
    padding: 0.5vw;
    cursor: pointer;
    width: 100%;
    font-size: 1.5vw;
    color: #974e48;
    margin-top: 1vw;
}
.fas{
    font-size: 1.8vw;
    float: left;
    color: #372821;
}
.section1_mobile {
    display: none; 
}
@media (max-width:1199px) and (min-width:200px){
    
    .section1 {
        display: none;
    }
    h1 {
        font-size: 8vw;
        padding-top: 25vw;
        padding-left: 1vw;
        color: #372821;
        letter-spacing: 0.7vw;
    }
    h2 {
        font-size: 6vw;
    }
    p{
        font-size: 5vw;
    }
    .section{
        margin: 3vw 1vw 1vw 1vw;   
        /* text-align: center */
    }
    .between {
        display: inline;
    }
    .user{
        font-size: 20vw; 
    }
    .section1_mobile {
        display: inline;
    }
    .section2, .section3, .section1_mobile {
        margin-left: 5vw;
        margin-top: 10vw;
        width: 90vw;
    }
    button {
        width: 100%;
        margin-top: 6vw;
        padding: 2vw;
    }
    .btn {
        font-size: 5vw;
    }
    .fas{
        font-size: 7vw;
        float: left;
        color: #372821;
    }
}